@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* nav bar */

.navbar {
    height: 80px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */

.logo {
    float: left;
    font-size: 250%;
    margin-left: 10px;
    color: #fff;
}

/* navigation elements */

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
    line-height: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #1b1b1b;
    background: #fff;
}

.active {
    color: #1b1b1b;
    background: #fff;
}

/* about us section and images  */

.about {
    flex-basis: 90%;
}

.about-section {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/image5.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.about h2 {
    color: #fff;
    font-size: 50px;
}

.about p {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Varela Round', sans-serif;
}

.btn {

    color: #000;
    background-color: #fff;
    font-size: 18px;
    padding: 12px 1em;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin-top: 2em;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(112, 109, 109);
    color: #fff;
}

.card {
    width: 250px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.first {
    background-image: url(../images/image1.jpg);
}

.second {
    background-image: url(../images/image2.jpg);
}

.third {
    background-image: url(../images/image3.jpg);
}

.fourth {
    background-image: url(../images/image4.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

/* events */

#upcoming-events {
    padding-top: 50px;
    text-align: center;
    font-size: 200%;
}

.container {
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
}

.event {
    padding: 50px;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg, #16817a 20%, #cee397 50%, #16817a 80%);
    min-height: 240px;
    vertical-align: top;
}

h3 {
    font-weight: bold;
    color: rgb(130, 21, 21);
}

/* footer */

footer {
    height: 100px;
}

.social-icons {
    text-align: center;
}

.social-icons>li {
    display: inline;

}

.social-icons i {
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1%;
    padding: 5%;
}

.social-icons a:hover i {
    color: chocolate;
}

/* gallery */

.gallery-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/image6.jpg);

    background-position: center;
    background-size: cover;
    padding: 8% 8%;
    text-align: center;
}

.gallery img {
    width: 250px;
    padding: 30px;
    height: 250px;
    object-fit: cover;
}

/* join us */

.joinus-section {
    height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/image-joinus.jpg);
    background-position: center;
    background-size: cover;
    padding: 8% 8%;
    clear: left;
}

.joinus-form {
    max-width: 550px;
    width: 90%;
    background-color: dimgray;
    color: white;
    margin: 2vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
}

form>h2 {
    margin: 0;
    text-align: center;
}

label {
    display: block;
    margin: 20px 0;
    font-weight: bold;
}

.input-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;

}

.input-text:hover {
    border-color: rgb(236, 15, 37);
}

.submit-button {
    border-radius: 3px;
    text-align: center;
    background-color: rgb(164, 100, 106);
    color: #fff;
    display: block;
    font-size: 100%;
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    border-color: transparent;
    font-weight: bold;
}

.submit-button:hover {
    background-color: rgba(19, 218, 175, 0.747);
    color: rgb(164, 100, 106);
}

select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    font-style: normal;
}

select:hover {
    border-color: rgb(236, 15, 37);
}

.response {
    height: 900px;
    width: 100%;
    background: #4b4848;
    color: #fff;
}

.response h2 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 400px;
    text-align: center;
}

.response p {
    font-size: 18px;
    text-align: center;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width:1235px) {
.image {
    text-align: right;
}
}


/* For medium screens size from 950px wide and down */

@media screen and (max-width:950px) {
    .navbar {
        height: 150px;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;

    }



    /* For small screen sizes 800px and down */

    @media screen and (max-width:800px) {
        .about h2 {
            text-align: center;
        }
    }
}