@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

/* nav bar */
.navbar {
    height: 80px;
    background:#000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

/* logo */
.logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    color:#fff;
   
}

/* navigation elements */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li a:hover {
   color: #1b1b1b;  
   background: #fff;
}

.active {
    color: #1b1b1b;  
    background: #fff;
 }


nav ul li {
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}


/* about us section and images  */


.about {
    flex-basis: 90%;
    
} 

.about-section {
    display: flex;
    align-items: center;
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/image5.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    
}


.about h1 {
    color :#fff;
    font-size: 50px;
}

.about p {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Varela Round', sans-serif;
    
}

button {
    width: 180px;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    padding: 12px 0;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin-top: 30px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(112, 109, 109);
    color: #fff;
}

.card {
    width: 250px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    
}

.first {
    background-image:url(../images/image1.jpg);
}

.second {
    background-image:url(../images/image2.jpg);
}

.third {
    background-image:url(../images/image3.jpg);
}

.fourth {
    background-image:url(../images/image4.jpg);
}



.card:hover {
    transform: translateY(-10px);

}
/* events */

#events {
    height: 500px;
    margin-top: 50px;
}

#upcoming-events {
    text-align: center;
    font-size: 200%;
}

#left-event {
    height:200px;
    width: 33%;
    background-color: pink;
    float: left;
    text-align: center;
    margin-top: 20px;
   
   
}
#middle-event {
    height:200px;
    width: 33%;
    background-color: rgb(85, 174, 63);
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    
   
}
#right-event {
    height:200px;
    width: 33%;
    background-color: pink;
    float: right;
    text-align: center;
    margin-top: 20px;
   
  
  
}

/* footer */

footer {
    height: 100px;
}

.social-icons {
    text-align: center;
}

.social-icons > li {
    display: inline;

}

.social-icons i {
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1%;
    padding: 5%;

}

.social-icons a:hover i {
    color:chocolate;
}


.gallery-section {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/image6.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 8% 8%;
    
}


.gallery img {
    width: 250px;
    padding: 30px;
    height: 250px;
    

}

.joinus-section {
   
    height: 900px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/image-joinus.jpg);
    background-position: center;
    background-size:cover;
    padding :8% 8%;
    clear: left;
    
} 

.joinus-form {
    max-width: 550px;
    width: 90%;
    background-color:dimgray;
    color: white;
    margin: 2vh auto 0 auto; 
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    
}

form > h2 {
    margin: 0;
    text-align: center;
}

label {
    display: block;
    margin:20px 0;
    font-weight: bold;
}

.input-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    
}

.input-text:hover{
    border-color:rgb(236, 15, 37);
}

.submit-button {
    border-radius: 3px;
    text-align: center;
    background-color:rgb(164, 100, 106);
    color: #fff;
    display: block;
    font-size: 100%;
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    border-color:transparent;
    font-weight: bold;
}

.submit-button:hover {
    background-color: rgba(19, 218, 175, 0.747);
    color: rgb(164, 100, 106);
}

select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    font-style:normal;
}

select:hover{
    border-color:rgb(236, 15, 37);;
}

.response {
    height: 900px;
    width: 100%;
    background: #4b4848;
    color: #fff;
}
    
.response h2 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 400px;
    text-align: center;
}

.response p {
    font-size: 18px;
    text-align: center;
}